/* aboutus.css */

/* Style the body background color */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the h1 element (About Us) */
h1 {
    color: #333;
    font-size: 30px;
margin-left: 30px;
    margin-top: 20px;
}

/* Style the p element (description) */
p {
    color: #666;
    font-size: 20px;
    text-align: left;
    margin: 20px;
    line-height: 1.5;
}

/* Style the links */
a {
    color: #0070e0;
    text-decoration: none;
}

/* Style links on hover */
a:hover {
    text-decoration: underline;
}

